
@import url(//fonts.googleapis.com/css?family=Open+Sans);
@import url(//fonts.googleapis.com/css?family=Open+Sans:light);
@import url(//fonts.googleapis.com/css?family=Open+Sans:bold);

a { text-decoration:none; color:#DA1120; }
a:visited { text-decoration:none; }
a:hover{ text-decoration: underline; color:#DA1120; }

a.navigatelink { font-size:12px; color:#606060; }
.navigatelink_current { font-size:18px; color:#DA1120; font-weight: bold; border:none; }

a.link_sub { }
a.link_sub:hover { }

a.link_top { }
a.link_top:hover { }




/* Sortial Row */

.div_sortial_row { margin:10px 0 10px 0; width:100%; display:table; }

.div_sortial_row_detail a { display:inline; font-weight:normal; }

.div_sortial_row:hover { background-color:#EFEFEF; }

.div_sortial_row a { color:#292929; font-weight:bold; display:block; margin-bottom:5px; }

.div_sortial_row a:hover { color:#292929; text-decoration:none; }

.div_sortial_row img { margin-left:20px; float:right; border:none; width:150px; }
.div_sortial_row img:hover { filter:alpha(opacity=50); -moz-opacity: 0.5; opacity: 0.5; }

a.sortial_headline { font-size:13px; color:#595959; font-weight: bold; }
a.sortial_headline:hover { text-decoration:none; color:#DA1120 }

a.sortial_details { font-size:11px; font-weight:normal; color:#595959; }
a.sortial_details:hover { text-decoration:none; color:#DA1120; }




a.flaw_headline { font-size:11px; color:#5E5E5E; font-weight: bold; }
a.flaw_headline:hover { }
 
a.flaw_details { font-size:12px; color:#292929; font-weight:bold; display:block; margin-top:5px; }
a.flaw_details:hover { }

.entitial_headline { font-size:14px; color:#595959; font-weight:bold; margin:0; }

a.entitial_details { color:#3D6083; font-weight:bold; }
a.entitial_details:hover { }

a.currentposition { font-size:11px; color:#595959; }
a.currentposition:hover { }

#DivPagePrev { display:inline-block; width:25%; text-align:right; }
#DivPageLinks {  display:inline-block; margin:0 20px 0 20px; text-align:center; width:30%; }
#DivPageNext { float:right;  display:inline-block; width:25%; }

body { font-size:13px; color:#606060; line-height:20px; font-family:Open Sans, Century Gothic, Verdana, Helvetica, sans-serif; padding:0; margin:0; background-color:#FFF; scrollbar-face-color: #cccccc; scrollbar-highlight-color: #cccccc; scrollbar-shadow-color: #f7f7f7; scrollbar-3dlight-color: #ffffff; scrollbar-arrow-color: #000099; scrollbar-track-color: #efefef; scrollbar-darkshadow-color: #cccccc; }
.body_popup { background-color:#FFF; padding:15px 10px 10px 10px; }
#ImgLogoPopup { margin:25px auto 25px auto; display:block; }

.text {}

.section { color:#595959; font-size:18px; font-weight:bold; font-family: Arial; margin:10px 0 15px 0; }
 
.copyright {color: #969693; font-size: 11px; font-family: tahoma }

.content_datetime { font-size:11px; font-weight:normal; margin:0 0 20px 0; }

.documents { color:#3D6083; }
   
input { font-family:Open Sans; color:#60607B; font-size:16px; font-weight:normal; border:solid 1px #EBEBEB; border-bottom:solid 2px #EBEBEB; height:48px; background-color:#FFF; padding:1px 0 0 6px; }
input:focus { background-color:#B8DBF4; }
select { font-family:Open Sans; color:#60607B; font-size:16px; font-weight:normal; border:solid 1px #EBEBEB; border-bottom:solid 2px #EBEBEB; height:48px; background-color:#FFF; padding:1px 0 0 6px; }
select:focus { background-color:#B8DBF4; }
.button { font-family:Open Sans; font-size:16px; font-weight:normal; color:#FFFFFF; background-color:#DB1121; border:none; width:150px; height:40px; }
.button:hover { cursor:pointer; }
textarea { font-family:Open Sans; color:#60607B; font-size:16px; font-weight:normal; border:solid 1px #EBEBEB; border-bottom:solid 2px #EBEBEB; height:48px; background-color:#FFF; padding:4px 0 0 6px; overflow:auto; }
textarea:focus { background-color:#B8DBF4; }

.form_row { margin:10px 0 10px 0; }
.form_header { width:150px; text-align:right; display:inline-block; font-size:12px; vertical-align:top; }
#form_captcha { letter-spacing:14px; text-align:center; }

.table_advanced_header {}
.table_advanced_standart {}
.divmaphide {}
.divmapshow {}
.divmenuhide { display:none; position:absolute }
.divmenushow { display:block; position:absolute; padding-left: 0; padding-top: 5 }
.table_editor { }

.tdconmargin { }
.td_bg { height:1px; background-color:#EFEFEF; }
.td_bg2 { height:15px; }

.image_cms_flaw { }

.image_cms_sortial { }




/* Proje Özel */

.div_main { width:1000px; margin:0 auto 0 auto; }

#DivContentRow { width:100%; display:table; background-color:#FFF; background-image:url(images/bg_content_row.bmp); background-repeat:repeat-x; }

#DivContentRow .div_main { background-image:url(images/bg_side_menu.bmp); background-repeat:repeat-y; display:table; }

#DivContent { display:table; width:754px; float:right; margin:20px 20px 15px 0; }

#DivContentProducts { display:none; float:right; margin:0 0 0 20px;  }

#DivShadow { width:1000px; height:25px; background-image:url(../images/images-bg_shadow.jpg); margin:0 auto 0 auto; }

#DivContentRowBar { height:102px; background-image:url(../images/images-bg_content_header.jpg); }

#DivPopup { text-align:center; }

#DivPopupMainPage { border:8px solid #133272; padding:20px; color:#133272; font-size:18px; line-height:26px; }

h2 { font-size:24px; font-weight:bold; color:#292929; }

#basvurutipi_0, #basvurutipi_1, #askerlikdurumu_0, #askerlikdurumu_1, #askerlikdurumu_2, #medenidurumu_0, #medenidurumu_1, #medenidurumu_2, #medenidurumu_3, #surucubelgesi_0, #surucubelgesi_1, #saglikbelgesi_0, #saglikbelgesi_1, #sigara_0, #sigara_1, #sigara_2, #seyahatengeliniz_0, #seyahatengeliniz_1, #sabikakaydiniz_0, #sabikakaydiniz_1 { width:18px; padding:3px; }

.scrollToTop { width:51px; height:51px; text-align:center; background: whiteSmoke; font-weight: bold; color: #444; text-decoration: none; position:fixed; bottom:40px; left:40px; display:none; background: url('../images/images-scroll.png') no-repeat; }

#Top1_ImgChat { position:fixed; bottom:10px; right:20px; z-index:1000;  }

.buttonimg { padding:0; }

#DeviceDesktop1_ButtonRedirectToMobile { display:block; margin:20px auto 20px auto; background-color:#DB1121; color:#FFF; }

.desktop_link { display:inline; }

.mobile_link { display:none; }

.desktop_not_displayed { display:none; }

a.as { color:#FFF; }

.s_form_id { letter-spacing:4px; }

.prd { display:block; font-size:11px; }




/* Detay Ekranlar */

#DivDetail { width:100%; display:table; margin:43px 0; }

#DivDetailLeft { width:370px; float:left; }

#DivDetailRight { float:right; width:600px; }

#SubMenu_DivSideMenu { width:100%; background-color:#F0F2F4; display:table; }

.side_menu_section { color:#444444; font-size:20px; font-weight:normal; margin:27px 0 28px 22px; display:block; }

.side_menu_section:hover { cursor:pointer; }

a.side_menu { color:#7D7D7D; font-size:14px; font-weight:normal; margin:0 0 0 22px; display:block; }

a.side_menu:hover { color:#DA1120; text-decoration:none; }

.div_side { display:block; padding:12px 0 12px 0; }

.div_side_sub_1 { display:block; padding-left:24px; }

.div_side_sep { background-image:url(images/bg_side_sep.bmp); width:100%; height:2px; margin:0 0 0 0; }

.div_side:hover { background-color:none; }




/* Detay Ekran Hizmetler */

#DivBrands1578Detail { width:370px; height:390px; background-image:url(../images/images-bg_brands_detail.jpg); margin-top:24px; }

#ImgHizmetlerDetay { margin:33px 0 10px 0; }

#DivBrands1578Detail .als-wrapper { margin-top:0; }




/* Form Elemanları */

.textarea_webform_comments { width:500px; }




/* Üst Sosyal Medya Bar */

#DivSocialRow { width:100%; background-color:#415678; height:35px; display:table; padding:0; }

#DivSocial { float:right; }

#DivSocial img:hover { filter:alpha(opacity=50); -moz-opacity: 0.5; opacity: 0.5; }

#DivSocial img { margin-top:4px; }

#ImgFw { margin:3px 10px 0 10px; }

#ImgFb { margin-right:7px; }

#ImgTw { margin-right:7px; }

#ImgGp { margin-right:15px; }

#ImgTr { margin-right:10px; }

#ImgEn {}





/* Logo Bar */

#DivHeaderRow { width:100%; background-color:#FFF; height:83px; padding:0; display:table; }

#ImgLogo { border-style:none; margin:0; float:left; }

#ImgMainMenu { width:145px; height:83px; float:right; }

#ImgMainMenu:hover { cursor:pointer; }

#DivHeaderRight { float:right; margin:22px 280px 0 0; }

#InputSearch { width:160px; height:36px; padding:0 0 0 40px; background-image:url(../images/images-bg_search.gif); border:none; color:#FFF; font-size:14px; font-family:Century Gothic; float:right; margin-right:20px; display:none; }

#ImgCall { float:right; margin-right:20px; display:none; }

#DivLogin { float:right; }

#ImgBireysel:hover, #ImgKurumsal:hover { filter:alpha(opacity=50); -moz-opacity: 0.5; opacity: 0.5; cursor:pointer; }




/* Ana Menü */

#DivMenu { width:100%; background-color:#F6F7FB; display:none; }

#DivMenu .div_main { display:table; padding:25px 0 25px 0; }

#SelectMenu { display:none; }

.div_menu { margin-left:8px; float:left; }

#DivMenu a.headline { font-size:14px; font-weight:bold; margin:0 0 15px 0; color:#DA1120; }

#DivMenu a.headline:hover { color:#DA1120; }

#DivMenu a:hover { color:#DA1120; text-decoration:none; }

#DivMenu a { display:block; font-size:12px; color:#403F4C; margin-top:8px; }

.menu_sub_1 { margin-left:10px; }

.menu_sub_2 { margin-left:20px; }




/* DHTML */

#Dhtml1_DivDhtml { width:100%; height:430px; background-image:url(../images/images-bg.png); background-repeat:no-repeat; background-position:center center;  z-index:2; display:table; }

#DivDhtmlLink { position:absolute; z-index:1; margin:0 0 0 45px; width:865px; height:430px; }

#DivDhtmlLink:hover { cursor:pointer; }

#ImgNext { position:absolute; z-index:1; margin:190px 0 0 915px; filter:alpha(opacity=0); -moz-opacity:0; opacity:0; cursor:pointer; }

#ImgPrev { position:absolute; z-index:1; margin:190px 0 0 13px; filter:alpha(opacity=0); -moz-opacity:0; opacity:0; cursor:pointer; }




/* DHTML - Eski

#DivDhtmlRow { width:100%; height:364px; padding:0; background-color:#D13330; background-image:url(../images/images-bg_dhtml_2.jpg); filter:alpha(opacity=100); -moz-opacity: 1; opacity: 1; }

#Dhtml1_DivDhtml { height:364px; width:600px; background-image:url(../images/images-bg.png); background-repeat:no-repeat; background-position:center top; float:left; }

#ImageNews { width:1000px; z-index:0; border:none; border-left:1px solid #EEEFF0; border-right:1px solid #EEEFF0; border:none; display:none; }

#ImgNext { position:absolute; z-index:1; margin:185px 0 0 537px; filter:alpha(opacity=0); -moz-opacity:0; opacity:0; cursor:pointer; }

#ImgPrev { position:absolute; z-index:1; margin:185px 0 0 13px; filter:alpha(opacity=0); -moz-opacity:0; opacity:0; cursor:pointer; }

#DivDhtmlText { float:right; margin:90px 15px 0 0; width:330px; }

#Dhtml1_HeadlineText { color:#fff; font-size:32px; font-weight:600; line-height:38px; display:block; text-align:right; }

#Dhtml1_Shodes { color:#fff; font-size:13px; font-weight:600; line-height:20px; text-align:right; display:block; margin:15px 0; }

#ImgDhtmlDetail { margin:20px 0 0 0; float:right; }

 */




/* Kargo */

#DivCargoButtons { width:100%; height:57px; background-color:#F6F7FB; background-image:url(images/bg_cargo.bmp); background-repeat:repeat-x; }

#DivLoading { margin:20px auto 0 auto; width:300px; }

#ImgLoading { width:208px; height:13px; margin-top:3px; }

.div_cargo_button { float:left; color:#5E5D62; height:57px; padding:0 26px 0 17px; filter:alpha(opacity=40); -moz-opacity: 0.4; opacity: 0.4; }

.div_cargo_button_on { float:left; color:#FFF; height:57px; padding:0 26px 0 17px; background-color:#1B4077; cursor:pointer; background-repeat:repeat-x; filter:alpha(opacity=100); -moz-opacity: 1; opacity: 1; }

.div_cargo_button:hover { background-color:#1B4077; color:#FFF; cursor:pointer; background-repeat:repeat-x; filter:alpha(opacity=100); -moz-opacity: 1; opacity: 1; }

.div_cargo_button img { float:left; margin-top:18px; }

.div_cargo_button_on img { float:left; margin-top:18px; }

.span_cargo_text { float:left; display:block; margin:18px 0 0 14px; font-size:18px; }

#DivCargo { width:100%; background-color:#FFF; display:table; }

.div_cargo { display:none; padding:40px 0 0 0; width:100%; }

.div_cargo_sep { width:1px; height:150px; background-color:#E0DFE4; float:left; margin-right:20px; }

.cargo_headline { font-size:18px; font-weight:bold; color:#DB1121; display:block; margin-bottom:7px; }

.div_cargo_form { margin-top:15px; }

.div_cargo_row { margin-top:15px; display:table; width:100%; }

.input_cargo { width:80%; float:left; padding:1px 0 0 16px; }

.input_cargo2 { width:80%; height:52px;}

.select_cargo { width:82%; height:52px; float:left; padding:1px 0 0 16px; }

.button_cargo_submit { width:60px; height:52px; padding:0; background-image:url(../images/images-cargo_submit.gif); }

.button_cargo_submit:hover { cursor:pointer; }

.button_cargo_submit2 { width:150px; height:52px; background-color:#DB1121; color:#FFF; font-size:16px; }

.button_cargo_submit2:hover { cursor:pointer; }

.span_cargo_result { display:block; margin:10px 0 0 0; }

.div_cargo_left { float:left; width:48%; }

.div_cargo_right { float:right; width:48%; }




/* Kargo 1 - Takip */

/* #InputCargo1 { letter-spacing:6px; } */

/* #InputCargo2 { width:36%; letter-spacing:6px; } */

#InputCargo2 { width: 36%; }

#EComs { width:43%; margin-right:22px; }




/* Kargo 2 - Kaç Günde */

#StateOut { width:40%; margin-right:50px; }

#StateIn { width:40%; }




/* Kargo 3 - En Yakın Şube */

.div_cargo_choosen { margin-top:15px; width:80%; }

#semtilce, #mahalle, #cadde, #sokak { float:right; }

#DivStep3_Results { margin-top:35px; }




/* Kargo 4 - Ücret Hesapla */

#yurtici_disi_0, #yurtici_disi_1 { width:25px; height:25px; background-color:#FFF; }

#ek_hizmetler_0, #ek_hizmetler_1, #ek_hizmetler_2, #ek_hizmetler_3, #ek_hizmetler_4, #ek_hizmetler_5, #ek_hizmetler_6, #ek_hizmetler_7, #ek_hizmetler_8, #ek_hizmetler_9, #ek_hizmetler_10 { width:22px; height:22px; background-color:#FFF; }




/* Kargo 5 - Kurye Çağır */

#kurye_yurticidisi_0, #kurye_yurticidisi_1, #cargo_type_1, #cargo_type_2, #cargo_type_3 { width:25px; height:25px; background-color:#FFF; }

#code { width:30%; }

#phone { width:48%; }

#kurye_semtilce, #kurye_mahalle, #kurye_cadde, #kurye_sokak { float:right; }

#ButtonKurye1 { width:250px; }




/* Araslar */

#DivAraslar { width:100%; height:483px; display:table; margin:25px 0 0 0; background-image:url(../images/images-bg_araslar.jpg); background-repeat:no-repeat; background-position:center top; background-color:#415678; }

#DivAraslarButton { margin:19px auto 0 auto; display:table; line-height:0; }

#DivAraslarButtonHizmetler { float:left; }

#DivAraslarButtonHizmetler:hover { filter:alpha(opacity=50); -moz-opacity: 0.5; opacity: 0.5; cursor:pointer; }

#DivAraslarButtonEkHizmetler { float:right; }

#DivAraslarButtonEkHizmetler:hover { filter:alpha(opacity=50); -moz-opacity: 0.5; opacity: 0.5; cursor:pointer; }

#DivAraslarButtonCozumler { float:right; }

#DivAraslarButtonCozumler:hover { filter:alpha(opacity=50); -moz-opacity: 0.5; opacity: 0.5; cursor:pointer; }

#ImgArasButtonArrowLeft { margin-left:147px; }

#ImgArasButtonArrowMid { margin-left:84px; display:none; }

#ImgArasButtonArrowRight { margin-left:14px; display:none; }

#ImgHizmetler { display:table; margin:25px auto 0 auto; }

.als-container { margin:0; padding:0; width:100%; }

.als-item { margin:0px 3px 0; padding:0; width:144px; }

.als-wrapper { margin:15px 0 0 0; padding:0; }

.als-viewport  { width:100%; margin:0 auto 0 auto; padding:0; }

.als-viewport li  { height:270px; }

.als-prev { margin-right:5px; }

.als-prev:hover { filter:alpha(opacity=50); -moz-opacity: 0.5; opacity: 0.5; cursor:pointer; }

.als-next { }

.als-next:hover { filter:alpha(opacity=50); -moz-opacity: 0.5; opacity: 0.5; cursor:pointer; }




/* Çözümlerimiz */

#DivBrands1582 { display:none; }

#DivBrands1582 .als-viewport li  { width:170px; }




/* Ek Hizmetlerimiz */

#DivBrands1584 { display:none; }

#DivBrands1584 .als-viewport li  { }

#DivBrands1584 .als-item img { width:147px; }




/* Haber Kampanya */

#DivHaberKampanya { width:100%; display:table; }

#DivNews { width:100%; display:block; }

#DivCampaigns { width:100%; display:none; }

#DivKampanya { float:right; }

#DivKampanya:hover { filter:alpha(opacity=80); -moz-opacity: 0.8; opacity: 0.8; cursor:pointer; }

#DivHaberler { float:left; }

#DivHaberler:hover { filter:alpha(opacity=80); -moz-opacity: 0.8; opacity: 0.8; cursor:pointer; }

#ImgHaberlerArrow { margin-left:148px; }

#ImgKampanyaArrow { margin-left:14px; display:none; }

#DivHKButton { margin:58px auto 20px auto; display:table; line-height:0; }

#DivHKButton img:hover { filter:alpha(opacity=90); -moz-opacity: 0.9; opacity: 0.9; cursor:pointer; }

#DivNewsRow img { border-width:0; }

#DivNewsRow h2 { margin-bottom:30px; font-family: Arial; }

#DivNewsRow a { color:#292929; }

#DivNewsRow a:hover { color:#7BB5D6; text-decoration:none; }

.div_news { width:300px; margin-right:20px; display:table; float:left; text-align:center; }

.div_news img { float:left; border:solid 3px #fff; width:300px; height:169px; }

.div_news img:hover { filter:alpha(opacity=50); -moz-opacity: 0.5; opacity: 0.5; }

.div_news a { font-weight:bold; display:table; margin:20px auto 20px auto; font-size:18px; color:#454545; height:40px; }

.div_news a:hover { text-decoration:none; filter:alpha(opacity=7); -moz-opacity: 0.7; opacity: 0.7; }




/* Footer */

#DivFooter { width:100%; background-color:#28457F; margin:70px 0 0 0; display:table; padding-bottom:35px; }

#DivFooterTop { width:100%; display:table; }

#DivFooterDown { width:100%; border-top:solid 1px #546786; margin-top:33px; padding-top:28px; }

#ImgLogoFooter { margin:43px 0 0 0; float:left; }

.div_footer { margin:39px 35px 0 0; float:right; }

#DivFooter a.headline { font-size:14px; margin:0 0 15px 0; color:#FFFFFF; }

#DivFooter a:hover { color:#FFF; text-decoration:none; }

#DivFooter a { display:block; font-size:12px; color:#D9DDE4; margin-top:5px; }

#ACopyRight { display:block; }

#DivApps { margin-top:30px; }

#DivApps img { margin-right:50px; }

#DivApps img:hover { filter:alpha(opacity=50); -moz-opacity: 0.5; opacity: 0.5; }

#DivApps a { display:inline; }




/* RSS */

.div_rss_row { margin:10px 0 10px 50px; border-bottom:solid 1px #EFEFEF; display:table; width:90%; }
.div_rss_buttons { float:right; }
.div_rss_buttons img { margin-left:3px; border-style:none; }




/* Kargo Takip Detay */

#DivLogoCargoDetail  { width:800px; height:125px; margin:0 auto 0 auto; background-color:#FFF; }

#ImgCargoTrackLogo { float:left; }

#DivCargoTrackButtons { width:800px; margin:0 auto 0 auto;  }

.div_cargo_details_main { width:794px; height:537px; margin:0 auto 0 auto; border-left:solid 3px #FFF; border-right:solid 3px #FFF; background-image:url(../images/images-world_3.jpg); background-repeat:repeat-x; background-color:#264375; }

#DivWorldBottom { width:800px; height:20px; margin:0 auto 0 auto; background-image:url(../images/images-world_bottom.jpg); }

#DivCargoDetails { width:100%; height:124px; margin-top:15px; background-color:#000; filter:alpha(opacity=50); -moz-opacity: 0.5; opacity: 0.5; position:absolute; bottom:0; }

.table_cargo { color:#FFF; }

.table_cargo2 { font-size:14px; color:#FFF; width:750px; }

#DivLogoCargoDetailTop { float:right; margin:20px 20px 0 0; }

#ImgCagriMerkezi { margin:0; }

#cargo_tracking_number { color:#CC0814; font-size:20px; font-weight:bold; }

.td_cargo_buttons { color:#FFF; font-size:16px; font-weight:bold; }

.td_cargo_buttons2 { color:#FFF; font-size:16px; font-weight:bold; background-image:url(../tr/images/bg-cargo-buttons-over.bmp); }

.td_cargo_buttons:hover { cursor:pointer; background-image:url(../tr/images/bg-cargo-buttons-over.bmp); }

.span_cargo_headline { font-size:16px; font-weight:bold; color:#F9BE38; display:block; margin-bottom:5px; }

.span_cargo_headline_2 { font-size:14px; font-weight:bold; color:#F9BE38; display:block; margin-bottom:2px; }

.span_cargo_headline_3 { font-size:18px; font-weight:bold; color:#F9BE38; display:block; margin-bottom:3px; }

.span_cargo_headline_4 { font-size:14px; font-weight:bold; color:#F9BE38; }

#gonderici, #alici { font-size:22px; font-weight:bold; }

#durum, #durum2, #geri_donen_durum, #geri_donen_durum2 { font-weight:bold; font-size:16px; color:#40FF40; }




/* Data Tabloları */

.table_data { width:100%; margin-top:15px; }

.td_data_header { background-color:#D9111F; color:#FFF; padding:3px 0 3px 10px; }

.td_data_left { background-color:#DAE2E5; width:100px; text-align:right; padding-right:10px; }

.td_data_right { background-color:#F6F7FB; }

.td_data_left2 { background-color:#6A6A6A; width:100px; text-align:right; padding-right:10px; color:#FFF; }

.td_data_right2 { background-color:#D1D1D1; }




/* Yönetim Kurulu, Genel Koordinatörlük */

#DivYkBaskani { float:none; margin:0 auto 0 auto; }

#DivGk .yk { height:320px; }

.yk { width:128px; height:160px; background-color:#EFEFEF; text-align:center; float:left; margin:0 20px 20px 0; }

.yk2 { width:175px; height:90px; background-color:#EFEFEF; text-align:center; float:left; margin:0 20px 20px 0; padding:0 0 30px; }

.yk2 img { width:175px; display:none; }

.yk img { width:128px; display:none; }

.yk_section { width:100%; display:table; margin-bottom:25px; }

.yk_section_label { font-weight:bold; font-size:24px; margin:0 auto 20px auto; display:table; }

.yk_name { margin:20px auto 20px auto; font-size:18px; font-weight:bold; }

.yk_title { margin:20px auto 20px auto; font-size:13px; }



/* FAQ */

.faq_q { display:block; width:100%; background-color:#EFEFEF; border-radius:5px; padding:5px 0 5px 10px; font-weight:bold; margin:10px 0 10px 0; font-size:14px; }

.faq_q:hover { background-color:#B8DBF4; cursor:pointer; }

.faq_a { padding-left:10px; display:none; }




/* Responsive *********************************/

/* @media (max-width: 480px) {} */




@media (max-width: 767px) {
    /* Mobil */
 
}




@media (min-width: 768px) and (max-width: 1023px) {
    /* Tablet Portre - 768 */
     
    .div_main { width:95%; margin:0 auto 0 auto; }
    

    /* Logo Bar */

    #DivHeaderRight { margin-right:10px; }
    
    
    /* Ana Menü */
    
    #ImgMainMenu { display:none; }
    
    #SelectMenu { display:block; width:90%; margin:20px auto 20px auto; }



    /* DHTML */

    #Dhtml1_DivDhtml { float:none; margin:0 auto 0 auto; }

    #DivDhtmlText { display:none; }




    /* Kargo */

    .div_cargo_button { font-size:15px; padding:0 9px 0 12px; }

    .div_cargo_button_on { font-size:15px; padding:0 9px 0 12px; }




    /* Kargo 1 - Takip */

    #InputCargo1 { width:70%; }

    #InputCargo2 { width:67%; margin-top:20px; }

    #EComs { width:72%; margin-right:0; }




    /* Araslar */

    #DivAraslar { height:406px; }

    .als-item { width:104px; }
    
    .als-item img { width:104px; }




    /* Haber Kampanya */

    .div_news { width:200px; margin-right:20px; }

    .div_news img { width:200px; height:113px; }




    /* Detay Ekranlar */
    
    #DivDetailLeft { display:none; }

    #DivDetailRight { float:none; width:95%; }

}